<div class="blast-box" style="display: none;">
    <div class="blast-frame">
        <p></p>
        <div class="blast-colors d-flex justify-content-center">
            <div class="blast-color">#25e0ff</div>
            <div class="blast-color">#feb800</div>
            <div class="blast-color">#f25050</div>
            <div class="blast-color">#18e7d3</div>
            <!-- you can add more colors here -->
        </div>
        <p class="blast-custom-colors"></p>
        <input type="color" name="blastCustomColor" value="#18e7d3">

    </div>
    <div class="blast-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>

</div> 
<div id="home" class="banner" data-blast="bgColor">
    <!-- header -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
        <div class="container">
            <h1 class="wthree-logo">
                <a href="" id="logoLink" data-blast="color">Tax Calculator</a>
            </h1>
            <div class="nav-item  position-relative">
                <a href="#menu" id="toggle">
                    <span></span>
                </a>
                <div id="menu">
                    <ul>
                        <li><a data-blast="color" href="#calculator" class="scroll">Calculator</a></li>
                        <li><a data-blast="color" href="#tax-slabs" class="scroll">Tax Slabs</a></li>
                        <li><a data-blast="color" href="#contact" class="scroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- //header -->
    <!-- banner -->
    <div class="container-fluid">
        <div class="row banner-row">
            <div class="col-lg-8 bg-img text-center">
                <h3 class="agile-title">Tax Calculator Pakistan 2020 - 2021</h3>
                <div class="bnr-img">
                    <img src="assets/images/p1.png" alt="" class="img-fluid m-auto" />
                </div>

            </div>
            <div class="col-lg-4  my-auto p-0">
                <div _ngcontent-uxe-c16="" class="wthree-list-grid d-flex flex-wrap">
                        <div _ngcontent-uxe-c16="" class="wthree-list-desc"><h5 _ngcontent-uxe-c16="">lorem</h5><p _ngcontent-uxe-c16="">Elit consectetur adipiscing estibulum nibh urna.</p></div></div>
                <!-- <div id="login-row">
                    <h4>Login now!</h4>
                    <div id="login-column">
                        <div class="box">
                            <div class="shape1 shape-bg"></div>
                            <div class="shape2 shape-bg"></div>
                            <div class="shape3 shape-bg"></div>
                            <div class="shape4 shape-bg"></div>
                            <div class="shape5 shape-bg"></div>
                            <div class="shape6 shape-bg"></div>
                            <div class="shape7 shape-bg"></div>
                            <div class="float">
                                <form class="form" action="#" method="post">
                                    <div class="form-group">
                                        <label for="username">Username</label><br>
                                        <input type="text" name="username" id="username" class="form-control"
                                            placeholder="your name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label><br>
                                        <input type="password" name="password" id="password" class="form-control"
                                            placeholder="*****" required>
                                    </div>
                                    <div class="form-group btn-agile">
                                        <input type="submit" name="submit" class="btn btn-primary btn-md" value="login">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- //banner -->
</div>