<!-- footer -->
<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="agile-title"><a href="index.html" class="text-capitalize" data-blast="color">Tax Calculaltor</a></h2>
            </div>
            <div class="col-lg-3  mt-lg-0 mt-4">
                <ul class="list-agileits">
                    <li>
                        <a href="#calculator" class="text-secondary">
                            Calculator
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="#tax-slabs" class="scroll text-secondary">
                            Tax Slabs
                        </a>
                    </li>
                    <li>
                        <a href="#contact" class="scroll text-secondary">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 mt-lg-0 my-4">
                <div class="fv3-contact">
                    <span class="fa fa-envelope-open mr-2" data-blast="color"></span>
                    <p>
                        <a href="mailto:example@email.com" class="text-secondary">info@octek.co</a>
                    </p>
                </div>
                <!-- <div class="fv3-contact my-3">
                    <span class="fa fa-phone mr-2" data-blast="color"></span>
                    <p class="text-secondary">+456 123 7890</p>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right text-center py-2" data-blast="bgColor">
    <p class="text-dark">Powered by <a href="https://octek.co/">Octek.co</a>
        <a href="" class="text-white"></a>
    </p>
</div>